body {
  margin: 0;
  min-height: 100vh;
  background: #ffffff;
}
.grid {
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  grid-template-rows: auto auto auto auto;
  justify-content: space-evenly;
  /* justify-items: center; */
  align-content: space-evenly;
  /* align-items: center; */
  row-gap: 3%;
  /* padding: 3%; */
  padding-top: 2%;
}
#Body #heading h1 {
  font-family: "PT Serif", serif;
  color: #67412b;
  font-size: 3em;
  padding-top: 130px;
  text-align: center;
}
hr{
  width: 90vw;
  align-content: center;
  margin-top: 50px;
}
#Body h1 {
  color: black;
  align-items: left;
  font-size: 20px;
  line-height: 1em;
}
.item {
  width: 30%;
  height: 30%;
}
.mainFlex {
  display: flex;
  justify-content: space-evenly;
  justify-items: left;
  align-content: flex-start;
  row-gap: 3%;
  padding: 5%;
  padding-top: 2%;
  flex-direction: row;
}
#itemNavFlag {
  min-width: 230px !important;
  height: 50vh;
  box-sizing: content-box;
  padding-top: 15px;
  position: relative;
  background: #e7eadf;
  color: white;
  font-size: 11px;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
}
#itemNavFlag:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-bottom: 30px solid white !important;
  border-left: 115px solid transparent !important;
  border-right: 115px solid transparent !important;
}
ul.no-bullets {
  list-style-type: none;
  margin: 0;
  margin-top: 20px;
  padding: 0;
}
ul.no-bullets li{
  margin-bottom: 40px;
}
ul.no-bullets li:first-child{
  color: #A0091B;
  font-size: 2em;
  font-weight: bold;
  text-decoration: underline;
}
ul.no-bullets li a{
  text-decoration: none;
  color: black;
  font-size: 1.25em;
  font-weight: bolder;
}
ul.no-bullets li a:hover{
  font-size: 1.37em;
}

/*
.sideNav {
  color: black;
  margin: 0;
  padding: 0;
  width: 30rem;
  font-weight: bold;
  background-color: #e7eadf;
  height: 100%;
  overflow: auto;
  border-radius: 10px;
}
.sideNav a {
  display: block;
  color: #67412b;
  padding: 16px;
  text-decoration: none;
}

Active/current link 
.sideNav a.active {
  text-decoration: underline;
  background-color: #04aa6d;
  color: white;
}

Links on mouse-over
.sideNav a:hover:not(.active) {
  background-color: #4079949f;
  color: #ffffff;
}*/