#navBar{
    height: 110px;
    width: 100vw;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
    border-bottom: solid #A0091B 4px;
    background-color: white;
    z-index: 1;
    position: fixed;
    top:0;
}

#navBar section a{
    text-decoration: none;
    color: #407994;
    margin-left: 20px;
}

#navBar img{
    height: 50px;
}

#navBar #heavyButton{
    color: white !important;
    background-color: #407994;
    padding: 5px 25px 5px 25px; 
    border-radius: 16px;
    font-weight: bold;
}